<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kirea Gestures
    link(rel="stylesheet", href="style.css")
  body
    .filters
      a(class="active" onclick="sort('')") ALL
      a(onclick="sort('D_')") D
      a(onclick="sort('PS_')") PS
    
    input(type="text" id="searchbar")

    mixin gesture(id,name)   
      .gesture-grid-item
        .gesture-position
        .gesture-img
        .gesture-id=id
        .gesture-name=name

    .gesture-grid
      //- Default
      +gesture('AA1','D_Paste')
      +gesture('AA2','D_WindowHide')
      +gesture('AA3','D_WinTab')
      +gesture('AA4','D_VolumeDown')
      +gesture('AB1','D_Copy')
      +gesture('AB2','D_PinToTop')
      +gesture('AB3','D_OpenBrowser')
      +gesture('AB4','D_VolumeUp')
      +gesture('BA1','D_')
      +gesture('BA2','D_')
      +gesture('BA3','D_')
      +gesture('BA4','D_')
      +gesture('BB1','D_')
      +gesture('BB2','D_')
      +gesture('BB3','D_')
      +gesture('BB4','D_')
      +gesture('CA1','D_NextWindow')
      +gesture('CA2','D_')
      +gesture('CA3','D_')
      +gesture('CA4','D_')
      +gesture('CB1','D_LastWindow')
      +gesture('CB2','D_')
      +gesture('CB3','D_')
      +gesture('CB4','D_')
      +gesture('DA1','D_')
      +gesture('DA2','D_')
      +gesture('DA3','D_WindowMinimize')
      +gesture('DA4','D_')
      +gesture('DB1','D_')
      +gesture('DB2','D_')
      +gesture('DB3','D_WindowMaximize')
      +gesture('DB4','D_')
      +gesture('EA1','D_')
      +gesture('EA2','D_')
      +gesture('EA3','D_')
      +gesture('EA4','D_')
      +gesture('EB1','D_')
      +gesture('EB2','D_')
      +gesture('EB3','D_')
      +gesture('EB4','D_')
      +gesture('FA1','D_')
      +gesture('FA2','D_')
      +gesture('FA3','D_')
      +gesture('FA4','D_')
      +gesture('FB1','D_')
      +gesture('FB2','D_')
      +gesture('FB3','D_')
      +gesture('FB4','D_')
      +gesture('GA1','D_')
      +gesture('GA2','D_')
      +gesture('GA3','D_')
      +gesture('GA4','D_')
      +gesture('GB1','D_')
      +gesture('GB2','D_')
      +gesture('GB3','D_')
      +gesture('GB4','D_')
      +gesture('HA1','D_')
      +gesture('HA2','D_')
      +gesture('HA3','D_')
      +gesture('HA4','D_')
      +gesture('HB1','D_')
      +gesture('HB2','D_')
      +gesture('HB3','D_')
      +gesture('HB4','D_')
      +gesture('IA1','D_')
      +gesture('IA2','D_')
      +gesture('IA3','D_')
      +gesture('IA4','D_')
      +gesture('IB1','D_')
      +gesture('IB2','D_')
      +gesture('IB3','D_')
      +gesture('IB4','D_')
      +gesture('JA1','D_')
      +gesture('JA2','D_')
      +gesture('JA3','D_')
      +gesture('JA4','D_')
      +gesture('JB1','D_')
      +gesture('JB2','D_')
      +gesture('JB3','D_')
      +gesture('JB4','D_')
      +gesture('KA1','D_')
      +gesture('KA2','D_')
      +gesture('KA3','D_')
      +gesture('KA4','D_')
      +gesture('KB1','D_')
      +gesture('KB2','D_')
      +gesture('KB3','D_')
      +gesture('KB4','D_')
      +gesture('LA1','D_')
      +gesture('LA2','D_')
      +gesture('LA3','D_')
      +gesture('LA4','D_')
      +gesture('LB1','D_')
      +gesture('LB2','D_')
      +gesture('LB3','D_')
      +gesture('LB4','D_')
      +gesture('MA1','D_')
      +gesture('MA2','D_')
      +gesture('MA3','D_')
      +gesture('MA4','D_')
      +gesture('MB1','D_')
      +gesture('MB2','D_')
      +gesture('MB3','D_')
      +gesture('MB4','D_')
      +gesture('NA1','D_')
      +gesture('NA2','D_')
      +gesture('NA3','D_')
      +gesture('NA4','D_')
      +gesture('NB1','D_')
      +gesture('NB2','D_')
      +gesture('NB3','D_')
      +gesture('NB4','D_')
      +gesture('OA1','D_')
      +gesture('OA2','D_')
      +gesture('OA3','D_')
      +gesture('OA4','D_')
      +gesture('OB1','D_')
      +gesture('OB2','D_')
      +gesture('OB3','D_')
      +gesture('OB4','D_')
      +gesture('PA1','D_')
      +gesture('PA2','D_')
      +gesture('PA3','D_')
      +gesture('PA4','D_')
      +gesture('PB1','D_')
      +gesture('PB2','D_')
      +gesture('PB3','D_')
      +gesture('PB4','D_')
      +gesture('QA1','D_')
      +gesture('QA2','D_')
      +gesture('QA3','D_')
      +gesture('QA4','D_')
      +gesture('QB1','D_')
      +gesture('QB2','D_')
      +gesture('QB3','D_')
      +gesture('QB4','D_')
      +gesture('RA1','D_')
      +gesture('RA2','D_')
      +gesture('RA3','D_')
      +gesture('RA4','D_')
      +gesture('RB1','D_')
      +gesture('RB2','D_')
      +gesture('RB3','D_')
      +gesture('RB4','D_')
      +gesture('SA1','D_')
      +gesture('SA2','D_')
      +gesture('SA3','D_')
      +gesture('SA4','D_')
      +gesture('SB1','D_')
      +gesture('SB2','D_')
      +gesture('SB3','D_')
      +gesture('SB4','D_')
      +gesture('TA1','D_')
      +gesture('TA2','D_')
      +gesture('TA3','D_')
      +gesture('TA4','D_')
      +gesture('TB1','D_')
      +gesture('TB2','D_')
      +gesture('TB3','D_')
      +gesture('TB4','D_')
      +gesture('UA1','D_')
      +gesture('UA2','D_')
      +gesture('UA3','D_')
      +gesture('UA4','D_')
      +gesture('UB1','D_')
      +gesture('UB2','D_')
      +gesture('UB3','D_')
      +gesture('UB4','D_')
      +gesture('VA1','D_')
      +gesture('VA2','D_')
      +gesture('VA3','D_')
      +gesture('VA4','D_')
      +gesture('VB1','D_')
      +gesture('VB2','D_')
      +gesture('VB3','D_')
      +gesture('VB4','D_')
      +gesture('WA1','D_')
      +gesture('WA2','D_')
      +gesture('WA3','D_')
      +gesture('WA4','D_')
      +gesture('WB1','D_')
      +gesture('WB2','D_')
      +gesture('WB3','D_')
      +gesture('WB4','D_')
      +gesture('XA1','D_')
      +gesture('XA2','D_')
      +gesture('XA3','D_')
      +gesture('XA4','D_')
      +gesture('XB1','D_')
      +gesture('XB2','D_')
      +gesture('XB3','D_')
      +gesture('XB4','D_')
      +gesture('YA1','D_')
      +gesture('YA2','D_')
      +gesture('YA3','D_')
      +gesture('YA4','D_')
      +gesture('YB1','D_')
      +gesture('YB2','D_')
      +gesture('YB3','D_')
      +gesture('YB4','D_')
      +gesture('ZA1','D_')
      +gesture('ZA2','D_')
      +gesture('ZA3','D_')
      +gesture('ZA4','D_')
      +gesture('ZB1','D_')
      +gesture('ZB2','D_')
      +gesture('ZB3','D_')
      +gesture('ZB4','D_')

      //- Photoshop
      +gesture('AA1','PS_')
      +gesture('AA2','PS_')
      +gesture('AA3','PS_')
      +gesture('AA4','PS_')
      +gesture('AB1','PS_')
      +gesture('AB2','PS_')
      +gesture('AB3','PS_')
      +gesture('AB4','PS_')
      +gesture('BA1','PS_')
      +gesture('BA2','PS_')
      +gesture('BA3','PS_')
      +gesture('BA4','PS_')
      +gesture('BB1','PS_')
      +gesture('BB2','PS_')
      +gesture('BB3','PS_')
      +gesture('BB4','PS_')
      +gesture('CA1','PS_')
      +gesture('CA2','PS_')
      +gesture('CA3','PS_')
      +gesture('CA4','PS_')
      +gesture('CB1','PS_')
      +gesture('CB2','PS_')
      +gesture('CB3','PS_')
      +gesture('CB4','PS_')
      +gesture('DA1','PS_')
      +gesture('DA2','PS_')
      +gesture('DA3','PS_')
      +gesture('DA4','PS_')
      +gesture('DB1','PS_')
      +gesture('DB2','PS_')
      +gesture('DB3','PS_')
      +gesture('DB4','PS_')
      +gesture('EA1','PS_')
      +gesture('EA2','PS_')
      +gesture('EA3','PS_')
      +gesture('EA4','PS_')
      +gesture('EB1','PS_')
      +gesture('EB2','PS_')
      +gesture('EB3','PS_')
      +gesture('EB4','PS_')
      +gesture('FA1','PS_')
      +gesture('FA2','PS_')
      +gesture('FA3','PS_')
      +gesture('FA4','PS_')
      +gesture('FB1','PS_')
      +gesture('FB2','PS_')
      +gesture('FB3','PS_')
      +gesture('FB4','PS_')
      +gesture('GA1','PS_')
      +gesture('GA2','PS_')
      +gesture('GA3','PS_')
      +gesture('GA4','PS_')
      +gesture('GB1','PS_')
      +gesture('GB2','PS_')
      +gesture('GB3','PS_')
      +gesture('GB4','PS_')
      +gesture('HA1','PS_')
      +gesture('HA2','PS_')
      +gesture('HA3','PS_')
      +gesture('HA4','PS_')
      +gesture('HB1','PS_')
      +gesture('HB2','PS_')
      +gesture('HB3','PS_')
      +gesture('HB4','PS_')
      +gesture('IA1','PS_')
      +gesture('IA2','PS_')
      +gesture('IA3','PS_')
      +gesture('IA4','PS_')
      +gesture('IB1','PS_')
      +gesture('IB2','PS_')
      +gesture('IB3','PS_')
      +gesture('IB4','PS_')
      +gesture('JA1','PS_')
      +gesture('JA2','PS_')
      +gesture('JA3','PS_')
      +gesture('JA4','PS_')
      +gesture('JB1','PS_')
      +gesture('JB2','PS_')
      +gesture('JB3','PS_')
      +gesture('JB4','PS_')
      +gesture('KA1','PS_')
      +gesture('KA2','PS_')
      +gesture('KA3','PS_')
      +gesture('KA4','PS_')
      +gesture('KB1','PS_')
      +gesture('KB2','PS_')
      +gesture('KB3','PS_')
      +gesture('KB4','PS_')
      +gesture('LA1','PS_')
      +gesture('LA2','PS_')
      +gesture('LA3','PS_')
      +gesture('LA4','PS_')
      +gesture('LB1','PS_')
      +gesture('LB2','PS_')
      +gesture('LB3','PS_')
      +gesture('LB4','PS_')
      +gesture('MA1','PS_')
      +gesture('MA2','PS_')
      +gesture('MA3','PS_')
      +gesture('MA4','PS_')
      +gesture('MB1','PS_')
      +gesture('MB2','PS_')
      +gesture('MB3','PS_')
      +gesture('MB4','PS_')
      +gesture('NA1','PS_')
      +gesture('NA2','PS_')
      +gesture('NA3','PS_')
      +gesture('NA4','PS_')
      +gesture('NB1','PS_')
      +gesture('NB2','PS_')
      +gesture('NB3','PS_')
      +gesture('NB4','PS_')
      +gesture('OA1','PS_')
      +gesture('OA2','PS_')
      +gesture('OA3','PS_')
      +gesture('OA4','PS_')
      +gesture('OB1','PS_')
      +gesture('OB2','PS_')
      +gesture('OB3','PS_')
      +gesture('OB4','PS_')
      +gesture('PA1','PS_')
      +gesture('PA2','PS_')
      +gesture('PA3','PS_')
      +gesture('PA4','PS_')
      +gesture('PB1','PS_')
      +gesture('PB2','PS_')
      +gesture('PB3','PS_')
      +gesture('PB4','PS_')
      +gesture('QA1','PS_')
      +gesture('QA2','PS_')
      +gesture('QA3','PS_')
      +gesture('QA4','PS_')
      +gesture('QB1','PS_')
      +gesture('QB2','PS_')
      +gesture('QB3','PS_')
      +gesture('QB4','PS_')
      +gesture('RA1','PS_')
      +gesture('RA2','PS_')
      +gesture('RA3','PS_')
      +gesture('RA4','PS_')
      +gesture('RB1','PS_')
      +gesture('RB2','PS_')
      +gesture('RB3','PS_')
      +gesture('RB4','PS_')
      +gesture('SA1','PS_')
      +gesture('SA2','PS_')
      +gesture('SA3','PS_')
      +gesture('SA4','PS_')
      +gesture('SB1','PS_')
      +gesture('SB2','PS_')
      +gesture('SB3','PS_')
      +gesture('SB4','PS_')
      +gesture('TA1','PS_')
      +gesture('TA2','PS_')
      +gesture('TA3','PS_')
      +gesture('TA4','PS_')
      +gesture('TB1','PS_')
      +gesture('TB2','PS_')
      +gesture('TB3','PS_')
      +gesture('TB4','PS_')
      +gesture('UA1','PS_')
      +gesture('UA2','PS_')
      +gesture('UA3','PS_')
      +gesture('UA4','PS_')
      +gesture('UB1','PS_')
      +gesture('UB2','PS_')
      +gesture('UB3','PS_')
      +gesture('UB4','PS_')
      +gesture('VA1','PS_')
      +gesture('VA2','PS_')
      +gesture('VA3','PS_')
      +gesture('VA4','PS_')
      +gesture('VB1','PS_')
      +gesture('VB2','PS_')
      +gesture('VB3','PS_')
      +gesture('VB4','PS_')
      +gesture('WA1','PS_')
      +gesture('WA2','PS_')
      +gesture('WA3','PS_')
      +gesture('WA4','PS_')
      +gesture('WB1','PS_')
      +gesture('WB2','PS_')
      +gesture('WB3','PS_')
      +gesture('WB4','PS_')
      +gesture('XA1','PS_')
      +gesture('XA2','PS_')
      +gesture('XA3','PS_')
      +gesture('XA4','PS_')
      +gesture('XB1','PS_')
      +gesture('XB2','PS_')
      +gesture('XB3','PS_')
      +gesture('XB4','PS_')
      +gesture('YA1','PS_')
      +gesture('YA2','PS_')
      +gesture('YA3','PS_')
      +gesture('YA4','PS_')
      +gesture('YB1','PS_')
      +gesture('YB2','PS_')
      +gesture('YB3','PS_')
      +gesture('YB4','PS_')
      +gesture('ZA1','PS_')
      +gesture('ZA2','PS_')
      +gesture('ZA3','PS_')
      +gesture('ZA4','PS_')
      +gesture('ZB1','PS_')
      +gesture('ZB2','PS_')
      +gesture('ZB3','PS_')
      +gesture('ZB4','PS_')

  script(src="app.js")

   eclaireN