::-moz-selection {
  background: white;
  color: black; }

::selection {
  background: white;
  color: black; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #222;
  font-family: 'Cera Basic'; }

.filters {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px; }

a {
  background: black;
  width: 72px;
  height: 72px;
  text-align: center;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px white solid;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease; }

.active {
  background: white;
  color: black;
  font-weight: bold; }

.gesture-grid {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  background: transparent;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  justify-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.gesture-grid-item {
  width: 256px;
  height: auto;
  min-height: 256px;
  background: -webkit-linear-gradient(45deg, #111, #777);
  background: -o-linear-gradient(45deg, #111, #777);
  background: linear-gradient(45deg, #111, #777);
  margin: 0.4rem;
  margin-bottom: .4rem;
  border-radius: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative; }

.gesture-name {
  color: white;
  text-align: center;
  background: black;
  padding: 0 0 20px 0;
  border-radius: 0 0 0.75rem 0.75rem;
  font-size: 1rem;
  display: block; }

.gesture-id {
  color: white;
  text-align: center;
  font-weight: bold;
  background: black;
  padding-top: 10px;
  font-size: 1.4rem;
  font-family: 'Brandon Grotesque'; }

.gesture-img {
  width: 256px;
  height: 256px;
  border-radius: .75rem .75rem 0 0;
  background-repeat: no-repeat;
  background-position: 50% 85%;
  background-size: 70%;
  background-image: url("img/BA.png"); }

.gesture-position {
  background: black;
  width: 90px;
  height: 60px;
  z-index: 5;
  margin: auto;
  position: absolute;
  left: calc(50% - 45px);
  border-radius: 0 0 .75rem .75rem;
  background: black center center /52px no-repeat; }

.top-left {
  background-image: url("img/topLeft.png"); }

.top-right {
  background-image: url("img/topRight.png"); }

.bot-left {
  background-image: url("img/botLeft.png"); }

.bot-right {
  background-image: url("img/botRight.png"); }

#searchbar {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 35px;
  border-radius: 100rem;
  border: none;
  width: 100%;
  max-width: 500px;
  padding: 0 15px;
  opacity: 0.85;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  -webkit-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  font-size: 16px; }

#searchbar:focus {
  opacity: 1;
  outline: none; }

.found {
  display: inherit; }

.not-found {
  display: none; }

.not-defined {
  opacity: 0.2 !important; }

.memorized {
  color: mediumspringgreen; }

.implemented {
  color: orange; }
